<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Rides</title>
</head>
<body>
    <h1>List of Rides</h1>
    
    {% if rides %}
        <ul>
            {% for ride_info in rides %}
                {% set ride = ride_info['ride'] %}
                {% set user_info = ride_info['user']['data']['user'] %}
                <li>
                    Ride ID: {{ ride.id }}, 
                    Departure: {{ ride.departure }},
                    Arrival: {{ ride.arrival }},
                    Origin: {{ ride.origin }},
                    Destination: {{ ride.destination }},
                    User ID: {{ user_info.id }},
                    Username: {{ user_info.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No rides available.</p>
    {% endif %}
</body>
</html>